.display {
    display: flex;
    flex: 1;
    height: 4em;
    font-size: 1.5em;
    font-weight: normal;
    color: #00C64A;
    background-color: black;
    outline: 1px solid black;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em;
}