.number-btn {
    height: 3em;
    font-size: 1.5em;
    font-weight: normal;
    color: black;
    background-color: white;
    outline: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    cursor: pointer;
}