.number-btn {
    display: flex;
    flex: 1;
    height: 4em;
    font-size: 1.5em;
    font-weight: normal;
    color: #00C64A;
    background-color: white;
    outline: 1px solid black;
    justify-content: center;
    align-items: center;
}