.operator-btn {
    display: flex;
    flex: 1;
    height: 4em;
    font-size: 1.5em;
    font-weight: bold;
    color:#00C64A;
    background-color: #BAF7BA;
    outline: 1px solid black;
    justify-content: center;
    align-items: center;
}
